*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    height: 100vh;

}

#home {
    color: black;
    text-align: center;
    margin: 20px 0;
}

.tempgal {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px;
    justify-content: center;
    max-width: 1300px;
    width: 80%;
    margin: 20px auto 0;

}

.items {
    width: 250px;
    height: 250px;
    margin: 0 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.itemimg {
    width: 250px;
    height: auto;
    margin: 5px ;
}

.description{
    text-align: center;
}

/* styling my hearder */

header {
    background-color: #262626;
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 0.1em; */
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.navigation {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.temple {
    font-size: 2rem;
}

.nav-item {
    transition: 0.8s ease;
}

.nav-list:hover {
    color: dodgerblue;
    background-color: #fff;

}

.hamburger {
    display: none;
    cursor: pointer;
}

figcaption{
    margin-top: 0px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

footer {
    background-color: #262626;
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);

    }

    .buttons {
        position: fixed;
        left: -160px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 20%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 50px;
    }

    .buttons.active {
        left: 0;
    }


}